html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: $fuente_principal;
    margin: 0;
    padding: 0; 
}
body {
    font-size: 1.6rem;
    line-height: 1.8;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,251,251,1) 74%, rgba(255,140,135,1) 100%, rgba(255,122,116,1) 100%);
}
p {
    color: $negro;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}