/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}


@mixin flexbox($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;

    @if $gap !=0 {
        gap: $gap;
    }
}

// Mixin for common positioning
@mixin fixed-position($top: 0, $right: 0, $bottom: null, $left: 0) {
    position: fixed;
    top: $top;
    right: $right;

    @if $bottom !=null {
        bottom: $bottom;
    }

    left: $left;
}

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin text-style($color, $size, $weight: $regular) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

@mixin link-transition {
    transition: color 0.3s cubic-bezier(0.12, 0.23, 0.5, 1);
}

@mixin link-underline($color) {
    text-decoration: underline !important;
    text-decoration-color: $color;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.5rem;
}

@mixin selection($bg-color, $text-color: null) {
    &::selection {
        background-color: $bg-color;

        @if $text-color {
            color: $text-color;
        }
    }
}