.contenedor-carrusel {
    display: flex;
    justify-content: center;
    @include size(100%, 70rem);
    align-items: center;
}
.card-wrapper {
    max-width: 1400px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
}
.card-list .card-item .card-link:active {
    cursor: grabbing;
}


.card-list .card-item .card-link:hover {
    border-color: $red-9;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: $red-11;
    padding: 8px 16px;
    font-size: 1.5rem;
    font-weight: $bold;
    margin: 16px 0 18px;
    background: $red-1;
    width: fit-content;
    border-radius: 50px;
}

// Diseño de etiqueta
.card-list .card-link .badge.asesoria {
    color: $rojoClaro;
    background: $red-4;
}

.card-list .card-link .card-title {
    font-size: 1.5rem;
    color: #000;
    font-weight: $delgada;
}

.card-list .card-link .card-button {
    padding: 0;
    height: 35px;
    width: 35px;
    color: $rojoClaro;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid $rojoClaro;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
    color: #fff;
    background: $rojoClaro;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: $rojoClaro;
}
.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}
// .swiper-pagination{
//     padding-bottom: 5rem;
// }
.card-wrapper .swiper-slide-button {
    color: $rojoClaro;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}