.footer {
    background-color: $red-a9;
    @include size(100%, auto);
    position: relative;
    flex: 0 0 auto;
}

.contenedor-footer {
    @include flexbox(column, center, flex-start, nowrap, 4.8rem);
    padding: 4rem 2.4rem 3.2rem;
    height: min-content;
    overflow: hidden;
    position: relative;
}

.footer-arriba {
    @include flexbox(column, flex-start, flex-start, nowrap, 4rem);
    @include size(100%, min-content);
    overflow: visible;
    position: relative;
}

.footer-img {
    @include size(20rem);
    flex: none;
    flex-shrink: 0;
    position: relative;
}

/** copyright **/
.footer-abajo {
    @include flexbox(column, flex-start, flex-start, nowrap);
    @include size(100%, min-content);
    overflow: visible;
    position: relative;
    z-index: 8;
}

.contenedor-copyright {
    @include flexbox(column, flex-start);
    flex-shrink: 0;
    order: 1;
    @include size(auto);
    position: relative;
    user-select: none;
    white-space: pre-line;
    outline: none;
}

.copyright {
    @include text-style($red-8, 12px);
    text-align: left;

    a {
        @include text-style($red-1, inherit, $regular);
        @include link-underline($red-8);
        @include link-transition;
        text-align: start;
        text-wrap-mode: nowrap;
        text-wrap-style: auto;
        white-space-collapse: preserve;
        cursor: pointer;
        box-sizing: border-box;
        letter-spacing: normal;

        &:hover {
            color: $rojoClaro;
            text-decoration: none !important;
        }

        @include selection(#9F140F);
    }
}