.header {
    background-color: $rojoOscuro;
    height: auto;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10;
    display: block;
}

.contenedor-header {
    border-width: 0px 0px 0.3rem 0px;
    border-color: $red-10;//#a20909
    border-style: solid;

    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.8rem 2.4rem;
    flex-wrap: nowrap;
    height: min-content;
    position: relative;
}

.barra {
    
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: unset;
    width: 100%;
    flex-wrap: nowrap;
    gap: 2.4rem;
    height: min-content;
    justify-content: flex-start;
    padding: 0 ;
    position: relative;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    
}
.barra-arriba {
    
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    padding: 0;
    position: relative;

}
.barra-img {
    
    
    height: auto;
    position: relative;
    width: auto;
    display: block;
    unicode-bidi: isolate;
}
.mobile-menu {
    
    
    height: 4.0rem;
    position: relative;
    width: 4.0rem;

    @include tablet {
        display: none;
    }
    
}
.mm1 {
    height: 100%;
    width: 100%;
    
    
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.0rem;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    position: relative;

}
.mm2 {
    
    
    position: relative;
    height: 3.6rem;
    width: 3.6rem;
    
    img {
        height: 3.6rem;
        width: 3.6rem;
    }
}
.barra-abajo {
    
    
    display: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    height: min-content;
    padding: 0;
    position: relative;
    z-index: 8;
    

    @include tablet {
        
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    
}

.mostrar {
    display: flex !important; 
}



.video {
    text-align: left;
    color: $blanco;
    font-weight: $bold;
    line-height: 2;
    max-width: 60rem;
}

// .panel {
//     transform: translateY(-26rem) !important;
// }

// .panel.is-active {
//     transition: .4s ease;
//     transform: translateY(0) !important;
// }