.header {
    background-color: $rojoOscuro;
    height: auto;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10;
    display: block;
}

.contenedor-header {
    border-width: 0px 0px 0.1rem 0px;
    border-color: $rojoClaro;
    border-style: solid;
    width: 100%;
    transform: none;
    transform-origin: 50% 50% 0px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding:0.5rem;
    flex-wrap: nowrap;
    height: min-content;
    position: relative;
}

.barra {
    transform: none;
    transform-origin: 50% 50% 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: unset;
    width: 100%;
    flex-wrap: nowrap;
    gap: 2.4rem;
    height: min-content;
    justify-content: flex-start;
    padding: 0 2.4rem;
    position: relative;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    .barra__header {
        transform: none;
        transform-origin: 50% 50% 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: min-content;
        padding: 0;
        position: relative;

        .barra__img {
            transform: none;
            transform-origin: 50% 50% 0px;
            height: auto;
            position: relative;
            width: auto;
            display: block;
            unicode-bidi: isolate;
        }
        .mobile-menu {
            transform: none;
            transform-origin: 50% 50% 0px;
            height: 4.0rem;
            position: relative;
            width: 4.0rem;

            @include tablet {
                display: none;
            }
            
            .mm1 {
                height: 100%;
                width: 100%;
                transform: none;
                transform-origin: 50% 50% 0px;
                aspect-ratio: 1 / 1;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap: 1.0rem;
                cursor: pointer;
                justify-content: center;
                padding: 0;
                position: relative;

                .mm2 {
                    transform: none;
                    transform-origin: 50% 50% 0px;
                    position: relative;
                    height: 3.6rem;
                    width: 3.6rem;
                    
                    img {
                        height: 3.6rem;
                        width: 3.6rem;
                    }
                }



            }
        }
    }
    .barra__footer {
        transform: none;
        transform-origin: 50% 50% 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: nowrap;
        height: min-content;
        padding: 0;
        position: relative;

        @include tablet {
            
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
        
        .contenido__navegacion {
            transform: none;
            transform-origin: 50% 50% 0px;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            flex-wrap: nowrap;
            gap: 0.4rem;
            height: min-content;
            justify-content: flex-start;
            padding: 0;
            position: relative;

            @include tablet {
                flex-direction: row;
                justify-content: flex-end;
            }

            .c-nav {
                transform: none;
                transform-origin: 50% 50% 0px;
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 1rem;
                height: min-content;
                justify-content: center;
                padding: 0;
                position: relative;
                width: min-content;

                .c2-nav{
                    transform: none;
                    transform-origin: 50% 50% 0px;
                    display: block;
                    height: 3.2rem;
                    position: relative;
                    width: auto;

                    a {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        gap: 0.4rem;
                        justify-content: center;
                        height: 100%;
                        padding: 0.8rem 1.2rem;
                        position: relative;
                        width: min-content;

                        .c3-nav {
                            outline: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            flex-shrink: 0;
                            transform: none;
                            transform-origin: 50% 50% 0px;
                            opacity: 1;
                            height: auto;
                            position: relative;
                            white-space: pre;
                            width: auto;

                            p {
                                font-size: 1.4rem;
                                line-height: 1.6rem;
                                margin: 0px;
                                padding: 0px;
                                color: $rosa;
                                font-weight: $bold;
                            }
                            p:hover {
                                color: $blanco;
                            }
                        }
                    }
                }
            }
            
            
        }
    }

}



.video {
    text-align: left;
    color: $blanco;
    font-weight: $bold;
    line-height: 2;
    max-width: 60rem;
}

