/** Parte header ⬆️ **/
// Navigation styles for both header and footer
.c-nav {
    @include flexbox(column, flex-start, center, nowrap, 0.4rem);
    @include size(100%, min-content);
    
    position: relative;

    @include tablet {
        @include flexbox(row, flex-end, center);
    }
}

.c1-nav {
    @include flexbox(row, center, center, nowrap, 1rem);
    @include size(min-content, min-content);
    
    position: relative;
}

.c2-nav {
    @include size(auto, 3.2rem);
    display: block;
    position: relative;

    a {
        @include flexbox(row, center, center, nowrap, 0.4rem);
        @include size(min-content, 100%);
        padding: 0.8rem 1.2rem;
        position: relative;
    }
}

.c3-nav {
    @include flexbox(column, flex-start);
    flex-shrink: 0;
    @include size(auto);
    position: relative;
    white-space: pre;
    outline: none;

    p {
        @include text-style($red-1, 1.4rem, $bold);

        &:hover {
            color: $rojoClaro;
        }

        @include selection($rosa);
    }
}

/** Parte footer ⬇️ **/
.c-nav-f {
    @include flexbox(column, null, null, null, 3.2rem);
    
    width: 100%;

    @include tablet {
        @include flexbox(row, flex-start, flex-start, nowrap, 8rem);
        height: min-content;
        
        position: relative;
    }
}

.c1-nav-f {
    @include flexbox(column, center, flex-start, nowrap, 1.6rem);
    
    @include size(min-content, min-content);
    
    position: relative;
}

.t-nav-f {
    @extend .c3-nav;

    p {
        @include text-style($red-8, 1.8rem, $bold);
        @include selection($red-11, $red-8);
    }
}

.c2-nav-f {
    @extend .c3-nav;

    p {
        @include text-style($red-8, 1.4rem);

        a {
            @include text-style($red-8, inherit, $regular);
            @include link-transition;
            cursor: pointer;
            box-sizing: border-box;
            letter-spacing: normal;
            text-align: start;
            text-wrap-mode: nowrap;
            text-wrap-style: auto;
            white-space-collapse: preserve;

            &:hover {
                @include link-underline($red-8);
                color: $red-1;
            }

            @include selection($red-11, $red-8);
        }
    }
}

/** Menu de hamburguesa **/
.mobile-menu {
    @include tablet {
        display: none;
    }

    position: relative;
}

/** logo **/
.logo {
    width: 20rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8))
}

.logo-c {
    width: 10rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8))
}

/**  **/
.mostrar {
    display: flex;
}