
/** Menu de hamburguesa **/
.mobile-menu {
    @include tablet {
        display: none;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.logo {
    width: 20rem;
    filter: drop-shadow(
    0 0 10px rgba(0, 0, 0, .8)
    )
}